/* NAV */
nav {
    width: 20%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #295FC4;
}

nav img {
    padding: 1rem;
    height: 50px;
    width: 50px;
}

nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding-left: 4rem;
    margin: 2rem 0;
    font-weight: 600;
}

nav a.people {
    padding: 1rem 0 1rem 4rem;
    background: #5694E7;
}